@model WalletIndexViewModel

@{
    ViewBag.ModuleName = _CommonLocalizer["Wallet"];
    ViewBag.ModuleIcon = "anchor";
    var customers = ViewBag.Customers as List<DropdownDto> ?? new List<DropdownDto>();  
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row card-title align-middle mb-5">
                    <div class="col-md-12 align-items-center d-flex mt-1">
                        <a href="@Url.Action("Create", "Wallet")" class="btn btn-primary btn-xs btn-icon-text">
                            <i class="btn-icon-prepend" data-feather="plus"></i> @_CommonLocalizer["Create"]
                        </a>
                    </div>
                    <div class="col-md-12 mt-1">
                        <form asp-controller="Wallet" asp-action="Index" method="get">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="form-label">@_CommonLocalizer["Filter by Customer ID"]</label>
                                            @Html.DropDownListFor(
                                                     a => a.Filter.CustomerId,
                                                     new SelectList(customers, "Id", "Name"),
                                                     "-- Select Customer --",
                                                     new { @class = "form-control", data_val = "false" })
                                        </div>
                                        <div class="col-md-2 mt-4">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light form-control">
                                                @_CommonLocalizer["Filter"]
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <hr style="border: 1px dashed #000" />

                <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="bg-primary">
                                <tr>
                                    <th class="text-white fw-bold">@_CommonLocalizer["Customer ID"]</th>
                                    <th class="text-white fw-bold">@_CommonLocalizer["Wallet ID"]</th>
                                    <th class="text-white fw-bold">@_CommonLocalizer["Balance"]</th>
                                    <th class="text-white fw-bold">@_CommonLocalizer["Created Date"]</th>
                                    <th class="text-white fw-bold">@_CommonLocalizer["Updated Date"]</th>
                                </tr>
                            </thead>
                            <tbody>
                    @if ( Model.Wallets.Any())
                    {
                                foreach (var wallet in Model.Wallets)
                                {
                                    <tr>
                                        <td>@wallet.CustomerId</td>
                                        <td>@wallet.WalletId</td>
                                        <td>@wallet.Balance</td>
                                        <td>@wallet.CreatedDate.ToString("yyyy-MM-dd")</td>
                                        <td>@wallet.UpdatedDate?.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                     }
                           
                            else
                            {
                            <tr>
                                <td colspan="5" class="text-center">
                                    No Records
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Wallets.Any() && Model.Wallets.PageCount > 1)
{
    <div class="pagination-area">
        @Html.PagedListPagerBT4(
                Model.Wallets,
                page => Url.Action("Index", "Wallet",
                new WalletFilterViewModel
    {
        CustomerId = Model.Filter.CustomerId,
        PageNumber = page
    })!)
    </div>
}
