<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            Common<span>World</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item" active-when-controllers="Home" active-when-actions="Index">
                <a href="@Url.Action("Index", "Home")" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">@_CommonLocalizer["Home"]</span>
                </a>
            </li>


            <li class="nav-item nav-category">Modules</li>
           

            <li class="nav-item" active-when-controllers="Customer" active-when-actions="Index,Create,Edit">
                <a href="@Url.Action("Index", "Customer")" class="nav-link">
                    <i class="link-icon" data-feather="users"></i>
                    <span class="link-title">@_CommonLocalizer["Customer"]</span>
                </a>
            </li>

            <li class="nav-item" active-when-controllers="Users" active-when-actions="Index,Create,Edit">
                <a href="@Url.Action("Index", "Users")" class="nav-link">
                    <i class="link-icon" data-feather="users"></i>
                    <span class="link-title">@_CommonLocalizer["User"]</span>
                </a>
            </li>

            
            <li class="nav-item nav-category">Setups</li>

            <li class="nav-item" active-when-controllers="Country" active-when-actions="Index">
                <a href="@Url.Action("Index", "Country")" class="nav-link">
                    <i class="link-icon" data-feather="globe"></i>
                    <span class="link-title">@_CommonLocalizer["Country"]</span>
                </a>
            </li>

            <li class="nav-item" active-when-controllers="Setting" active-when-actions="EmailSetup">
                <a href="@Url.Action("EmailSetup", "Setting")" class="nav-link">
                    <i class="link-icon" data-feather="mail"></i>
                    <span class="link-title">@_CommonLocalizer["EmailSetting"]</span>
                </a>
            </li>
        </ul>
    </div>
</nav>